<div class="iNav" id="iNav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="row">
            <div class="col-1">
                <img class="img-fluid" src="../images/LionLogo.png" alt="Lion King Icon" id="LionLogo">
            </div>
            <div class="col-1">
                <span class="navbar-text">
                    <h2 class="text-warning">Kings College</h2>
                </span>
            </div>
            <div class="col-10">
                <ul class="navbar">
                    <li class="nav-item">
                        <span class="navbar-text">
                            <a href="instructor-dash" class="navLink">Home</a>
                        </span>
                    </li>
                    <li class="nav-item">
                        <span class="navbar-text">
                            <a href="i-class-search" class="navLink">Class Search</a>
                        </span>
                    </li>
                    <li class="nav-item">
                        <span class="navbar-text">
                            <a href="i-create-course" class="navLink">Create Course</a>
                        </span>
                    </li>
                    <li class="nav-item">
                        <span class="navbar-text">
                            <a href="logout" class="nav-link">Log out</a>
                        </span>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</div>